<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-3">
            <h2>Its {{player1}} Vs. {{player2}}</h2>
            <h4 ng-if="numMoves%2===0">Its {{player2}}'s Move</h4>
            <h4 ng-if="numMoves%2!==0">Its {{player1}}'s Move</h4>
                <div class="square" ng-repeat="square in gameBoard track by $index">
                <div class="content">
                    <div class="table">
                        <div class="table-cell" ng-click="tacMove($index)"> 
                                <img ng-if="isOne(square)"style="height: 15em; width: 15em" src="X.jpeg" />                                                            
                                <img ng-if="isTwo(square)"style="height: 15em; width: 15em" src="circle.jpeg" />                             
                            </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>